ansible==2.5.1
apache-libcloud==2.2.1
asn1crypto==0.24.0
asyncore-wsgi==0.0.9
bottle==0.12.18
certifi==2018.1.18
chardet==3.0.4
cliapp==1.20170827
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
enum34==1.1.10
flake8==3.8.3
flake8-polyfill==1.0.2
functools32==3.2.3.post2
future==0.17.1
httplib2==0.9.2
idna==2.6
importlib-metadata==1.6.1
ipaddress==1.0.17
Jinja2==2.10
jmespath==0.9.3
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
Markdown==2.6.9
MarkupSafe==1.0
mccabe==0.6.1
netaddr==0.7.19
paramiko==2.0.0
pathlib2==2.3.5
pep8-naming==0.11.1
ptvsd==4.3.2
pyasn1==0.4.2
pycodestyle==2.6.0
pycrypto==2.6.1
pyflakes==2.2.0
Pygments==2.2.0
pygobject==3.26.1
pykerberos==1.1.14
pyOpenSSL==17.5.0
PySnooper==0.4.1
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
scandir==1.10.0
SecretStorage==2.3.1
simplejson==3.13.2
six==1.15.0
ttystatus==0.38
typing==3.7.4.1
urllib3==1.24.2
web-pdb==1.5.3
xmltodict==0.11.0
yapf==0.30.0
zipp==1.2.0
